doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title || 'DBD Turniere'}
    link(
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css',
      rel='stylesheet',
      integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH',
      crossorigin='anonymous'
    )
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css' rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel="icon", href="/favicon.ico", type="image/x-icon")

  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.app-header
      .container-fluid
        a.navbar-brand.fw-bold.app-brand(href="/") DBD Turniere
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#main-navbar
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(class=activePage === 'home' ? 'active' : '' href="/") Home
            if user
              li.nav-item
                a.nav-link(class=activePage === 'my-tournaments' ? 'active' : '' href="/my-tournaments") My Tournaments
              li.nav-item
                a.nav-link(class=activePage === 'create-tournament' ? 'active' : '' href="/tournaments/create") Create Tournament
          .d-flex.gap-2.align-items-center
            if user
              span.navbar-text.app-user #{user.name}
              button#logout-btn.btn.btn-outline-light.btn-sm(type="button") Logout
            else
              button.btn.btn-outline-light.btn-sm(type="button" data-bs-toggle="modal" data-bs-target="#modal-login-signup") Login

    .container.d-flex.flex-column.flex-grow-1
      main.flex-grow-1#main
        block alerts
        block content

    footer.mt-auto.py-3.text-center.app-footer
      small DBD Turnier Manager - derBertler

    div#cookie-banner.cookie-banner.d-none
      .alert.alert-dark.alert-dismissible.fade.show.fixed-bottom.mb-0.text-center(role="alert")
        | We use essential cookies to provide login functionality.
        button#accept-cookies-btn.btn.btn-sm.btn-primary.ms-2(type='button') Got it

    block modals
    .modal.fade#modal-login-signup(tabindex="-1" aria-labelledby="modal-login-signup-label" aria-hidden="true")
      .modal-dialog
        .modal-content.text-bg-dark
          .modal-header
            h5.modal-title#modal-login-signup-label Account
            button.btn-close.btn-close-white(type="button" data-bs-dismiss="modal" aria-label="Close")
          .modal-body
            ul.nav.nav-tabs.mb-3(role="tablist")
              li.nav-item(role="presentation")
                button.nav-link.active#login-tab(data-bs-toggle="tab" data-bs-target="#login-pane" type="button" role="tab") Login
              li.nav-item(role="presentation")
                button.nav-link#signup-tab(data-bs-toggle="tab" data-bs-target="#signup-pane" type="button" role="tab") Sign up
            .tab-content
              .tab-pane.fade.show.active#login-pane(role="tabpanel" aria-labelledby="login-tab")
                form#login-form
                  .mb-3
                    label.form-label(for="login-username") Username
                    input#login-username.form-control(type="text" autocomplete="username" required)
                  .mb-3
                    label.form-label(for="login-password") Password
                    .input-group
                      input#login-password.form-control(type="password" autocomplete="current-password" required)
                      button#toggle-login-password.btn.btn-outline-secondary(type="button" aria-label="Show password")
                        i.bi.bi-eye
                  button.btn.btn-primary(type="submit") Login
              .tab-pane.fade#signup-pane(role="tabpanel" aria-labelledby="signup-tab")
                form#signup-form
                  .mb-3
                    label.form-label(for="signup-username") Username
                    input#signup-username.form-control(type="text" autocomplete="username" required)
                  .mb-3
                    label.form-label(for="signup-email") Email
                      span.text-secondary  (optional)
                    input#signup-email.form-control(type="email" autocomplete="email")
                  .mb-3
                    label.form-label(for="signup-password") Password
                    .input-group
                      input#signup-password.form-control(type="password" autocomplete="new-password" required)
                      button#toggle-signup-password.btn.btn-outline-secondary(type="button" aria-label="Show password")
                        i.bi.bi-eye
                  button.btn.btn-primary(type="submit") Sign up

    if user
      script.
        window.DBD_USER_ID = !{JSON.stringify(user.id)};
        window.DBD_IS_ADMIN = !{JSON.stringify(isAdmin || false)};
    else
      script.
        window.DBD_USER_ID = null;
        window.DBD_IS_ADMIN = false;
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js",
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz",
      crossorigin="anonymous"
    )
    script(src="/javascripts/auth.js")
    script(src="/javascripts/layout.js")
    block scripts
